/* =Base */
body {
    font-family: 'Encode Sans', sans-serif;
    color: $iron;
    //background-color: $dorian;
	background-color: #fcfcfc;

}
.border
{
    z-index:-1;
    border-style: solid;
    border-width: 22px;
}
border
{
    z-index:-1;
    border-style: solid;
    border-width: 22px;
    color: $iron;
}
a {
    //color: #45565c;
	color: black;
    font-weight: bold;
    text-decoration: none;
    
    &:hover {
	//text-decoration: underline;
	color: #6d6f71;
    }
    &:active{
    //text-decoration: underline;   
	color: #6d6f71;
	}
    .post-teaser-subtitle{
	    font-weight: 300;
	}
}
a:active {
    //text-decoration: underline;
	color: #6d6f71;
}
a:hover{
	color:#6d6f71;
}

p {
    font-size: 20px;
    line-height: 26px;
	color: black;
}

img {
    margin: 40px auto;
    display: block;
    max-width: 100%;
}

blockquote {
    letter-spacing: 3px;
    margin:0px;
    margin-top: 40px;
    margin-bottom: 70px;
    padding: 0px;
    text-align: center;
    position: relative;

    footer {
        position: absolute;
        bottom: -35px;
        font-size: 15px;
        color: $iron;
        letter-spacing: 0px;
        left:0px;
        right: 0px;

        &:before { content: "** "; }
        &:after { content: " **"; }
    }

    p {
        display: inline;
        font-size: 20px;
        //color: $cloudy;
		color: black;
        font-weight: 400;
        &:before { content: "“ "; }
        &:after { content: " ”"; }
    }
}

strong {
    color: $iron;
    font-style: italic;
    //color: #ededed;
}

/*Side Icon*/

#side-icon{
    //max-width: 30%;
    //margin: 0px;
    font-size: 100px;
    float: left;
    margin-right: 20px;
}

/*Excerpt*/
.post-teaser-subtitle{
	font-size: 18px;
	&:hover
	{
	    color: #6d6f71;
	}
}

.post-divider {
   border-bottom: 1px solid;
 }

/* =Header */
.wrapper {
	margin-left:20%;
    max-width: 60%;
    //margin: 100px auto;
	color: #2a2a2a;
}

.header {
    //overflow: hidden;
    font-family: 'Dancing Script';
    font-size: 60px;
}

.navigation {
    //float:left;
    text-align: center;
}

.logo {
    font-size: 90px;
    font-weight: 700;
    //color: $iron;
	color: black;
    display: block;
}

.menu {
    color: $cloudy;
    font-size: 18px;
    margin:0px;
    margin-top: 6px;
    padding: 0px;
    list-style-type: none;
	&:hover{
		color: #6d6f71;
	}
}

.menu__entry {
    display: inline-block;
    margin-right: 35px;
    font-size: 30px;
    &:last-child {
        margin-right: 0px;
    }
    &:active{
	 text-decoration: underline;   
	}
    &:hover{
	    color: #6d6f71;
	}
}

.menu__entry a {
    font-weight: 400;
	color: black;
	    &:hover{
	    color: #6d6f71;
	}
}

.social-links {
    //float:right;
    padding-left: 0;
    padding-right: 20px;
    font-size: 35px;
    color: $cloudy;
    list-style-type: none;
    text-align:center;
}

.social-links__entry {
    display: inline-block;
    margin-left: 10px;
	color: black;
}

/* =Titles */
.page-title {
    margin-top:90px;
    margin-bottom:100px;
    text-align: center;
	color: #2a2a2a;
}

.page-title__text {
    font-weight: 700;
    font-size: 70px;
	color:  black;
	font-family:'Encode Sans', sans-serif;
}

.page-title__subtitle {
    font-weight: 400;
    font-size: 25px;
    //color: $cloudy;
	color: black;
	font-family:'Encode Sans', sans-serif;
}
.about_text{
    font-family:'Encode Sans', sans-serif;	
}

.post-title {
    margin-bottom: 110px;
}

.post-title__text {
    font-size: 70px;
}

.post-title__subtitle {
    font-size: 20px;
}

/* =Post teasers */

.list-posts {
    margin-left: 10%;
    max-width: 80%;
    list-style-type: none;
    padding: 0px;
    margin-right:10%;
}
.list-posts:hover {
	color: #6d6f71;
}

.post-teaser {
    margin-left: 15%;
    margin-bottom: 5px;
    font-weight: 700;
}

.post-teaser__title {
    font-size: 26px;
    //color: $iron;
	color: black;
    &:hover
	{
	    color: #6d6f71;
	}
}

.post-teaser-subtitle{
    margin-left: 20%;
    max-width: 70%;
    margin-left: 15%;
    font-weight: 200;
}
p#post-teaser-subtitle:hover
{
	color: #6d6f71;
}
#post-teaser-subtitle:hover
{
	color: #6d6f71;
}
.post-teaser__date {
    font-size: 16px;
    float: right;
    vertical-align: middle;
    color: $cloudy;
}

.empty-post-list {
    font-size: 22px;
    font-weight: 700;
    color: $iron;
    text-align: center;
}

/* =Explore */
.explore {
    text-align: center;
    color: $cloudy;
    margin-top: 140px;
}

.explore__devider {
    font-size: 18px;
    letter-spacing: 8.18px;
}

.explore__label {
    font-size: 14px;
    margin-top: 15px;
}

.categories {
    list-style-type: none;
    margin-top: 15px;
    padding: 0px;
}

.categories__item {
    display: inline-block;
    font-weight: 700;
    font-size: 18px;
}

.categories__item a {
    //color: $iron;
	color: black;
}

.categories__item:after {
    content: "/";
    margin-left: 6px;
    //color: $cloudy;
	color: black;
}

.categories__item:last-child:after {
    content: "";
    margin-left: 0px;
}


/* =Post page */
.about {
    color: $cloudy;
    margin-top: 70px;
    text-align: center;
    line-height: 24px;
}

.about__devider {
    font-size: 20px;
    margin-bottom: 50px;
    letter-spacing: 9.09px;
}

.about__text {
    font-size: 18px;
}

#disqus_thread {
    margin-top: 100px;
}

@media (max-width: 800px) {
    /* =Base */
    p {
        font-size: 16px;
        line-height: 1.6;
    }

    .wrapper {
        width: 80%;
    }

    .navigation,
    .social-links {
        @include centered-block();
    }

    .social-links {
        font-size: 30px;
        margin-top: 35px;
    }

    .page-title {
        margin-top: 80px;
        margin-bottom: 60px;
    }

    .page-title__text {
        font-size: 40px;
    }

    .page-title__subtitle {
        font-size: 18px;
    }

    .post-teaser__title {
        font-size: 18px;
        @include centered-block();
    }

    .post-teaser__date {
        font-size: 16px;
        margin-top: 10px;
        float: none;
        @include centered-block();
    }

    .explore {
        margin-top: 80px;
    }

    .post-title__text {
        font-size: 28px;
    }

    .post-title__subtitle {
        font-size: 18px;
    }
}
